<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="zcash-ui-integration-test">
        <activity
            android:name="co.electriccoin.zcash.ui.integration.test.common.IntegrationTestingActivity"
            android:exported="false" />
    </application>

</manifest>
