syntax: glob
.DS_Store
.gradle/
.idea/caches
.idea/compiler.xml
.idea/dictionaries/
.idea/gradle.xml
.idea/libraries/
.idea/modules.xml
.idea/tasks.xml
.idea/workspace.xml
.idea/deploymentTargetSelector.xml
.idea/migrations.xml
.idea/studiobot.xml
.settings
*.iml
bin/
build/
gen/
local.properties
/.idea/deploymentTargetDropDown.xml
*.hprof
/.idea/artifacts
/.idea/assetWizardSettings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/androidTestResultsUserPreferences.xml
google-services.json
/.idea/kotlinc.xml
/.idea/other.xml
/.idea/appInsightsSettings.xml
