syntax: glob

# Build and intermediate files
build/
bin/
gen/
.gradle/
.DS_Store
local.properties
*.iml
*.hprof
*.apk
*.aab
*.keystore

# IDE-specific files
.idea/AndroidProjectSystem.xml
.idea/androidTestResultsUserPreferences.xml
.idea/appInsightsSettings.xml
.idea/artifacts
.idea/assetWizardSettings.xml
.idea/caches
.idea/compiler.xml
.idea/csv-editor.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/dictionaries/
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/kotlinc.xml
.idea/libraries/
.idea/material_theme_project_new.xml
.idea/migrations.xml
.idea/modules.xml
.idea/other.xml
.idea/project.prompts.xml
.idea/runConfigurations.xml
.idea/studiobot.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml

# Other configuration files
google-services.json
.settings


