<resources xmlns:xliff="urn:oasis:names:tc:xliff:document:1.2">
    <string name="scan_preview_content_description">Camera</string>

    <string name="scan_cancel_button">Cancel</string>
    <string name="scan_settings_button">Open Settings</string>
    <string name="scan_settings_open_failed">Unable to launch Settings app.</string>

    <string name="scan_state_permission">
        <xliff:g id="app_name" example="Zashi">%1$s</xliff:g> does not have access to your camera. Please go to your
        system settings and authorize <xliff:g id="app_name" example="Zashi">%1$s</xliff:g>.
    </string>
    <string name="scan_state_failed">Camera initialization failed. Try it again, please.</string>
    <string name="scan_address_validation_failed">This QR code is not a valid Zcash Address.</string>

    <string name="scan_torch_content_description">{{ translation_dict['ScanTorchContentDescription'] }}</string>
    <string name="gallery_content_description">Gallery</string>
</resources>
