<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.electriccoin.zcash.app">

    <application
        android:name="co.electriccoin.zcash.app.ZcashApplication"
        android:allowBackup="false"
        android:label="${app_name_path}">

        <!-- Alias acts as the entrypoint to the application.
             Using an alias ensures we can refactor the actual Activity without breaking
             clients. -->
        <activity-alias
            android:name="co.electricoin.zcash.LauncherActivity"
            android:exported="true"
            android:label="${app_name_path}"
            android:targetActivity="co.electriccoin.zcash.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
