<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="co.electriccoin.zcash.app.ZcashApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name">

        <!-- Alias acts as the entrypoint to the application.
             Using an alias ensures we can refactor the actual Activity without breaking
             clients. -->
        <activity-alias
            android:name="co.electricoin.zcash.LauncherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity="co.electriccoin.zcash.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="zcash" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity-alias>

        <!-- Enable profiling by benchmark -->
        <profileable
            android:shell="true"
            tools:targetApi="29" />

    </application>

</manifest>
