<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <!-- For improved user privacy, don't allow Firebase to collect advertising IDs -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <!-- We want better control over the timing of Firebase initialization -->
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            tools:node="remove" />

        <provider
            android:name=".internal.local.CrashProcessNameContentProvider"
            android:authorities="${applicationId}.co.electriccoin.zcash.crash"
            android:enabled="@bool/co_electriccoin_zcash_crash_is_use_secondary_process"
            android:exported="false"
            android:process=":crash" />

        <receiver
            android:name=".internal.local.ExceptionReceiver"
            android:enabled="@bool/co_electriccoin_zcash_crash_is_use_secondary_process"
            android:exported="false"
            android:process=":crash" />
    </application>

</manifest>
