<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher_square"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <!-- compose can handle most config changes by itself hence we do not need activity recreation -->
        <!-- https://developer.android.com/guide/topics/resources/runtime-changes#react-changes-compose -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|locale|layoutDirection|screenLayout|uiMode|colorMode|keyboard|screenSize"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.Starting" />

        <activity
            android:name=".BiometricActivity"
            android:exported="false"
            android:theme="@style/Theme.App.Transparent" />

    </application>

</manifest>
