<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".internal.intent.IntentConfigurationReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>
