name: test

on:
  pull_request:

jobs:
  dump:
    runs-on: test-sf

    steps:
      - name: Dump all env vars to file
        shell: bash
        run: |
          echo "Dumping env vars to /tmp/env_dump.txt"
          printenv > env_dump.txt
          sleep 300
